@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  color: #fff;
}

body{
  background-color: #111;
}

#taskList::-webkit-scrollbar
{
  display: none;

}

#CreateTask::-webkit-scrollbar
{
  display:none;
}

.taskDescription::-webkit-scrollbar
{
  display: none;
}